<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ch04Ex10a_RockPaperScissors.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ch04Ex10a_RockPaperScissors.Properties.Settings>
            <setting name="GamePlayed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameWon" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameLost" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GameTied" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserRock" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserPaper" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserScissors" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CPURock" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CPUPaper" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CPUScissors" serializeAs="String">
                <value>0</value>
            </setting>
        </Ch04Ex10a_RockPaperScissors.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
